{% extends 'base.html' %}
{% block content %}

<!-- DETAILS SECTION -->
<h1>Restaurant Details</h1>

<div class="card">
    <div class="card-content">
            <div class="card-title">
                <span>{{ restaurant.name }}</span>
                <p>{{ restaurant.address }}</p>
                <p>{{ restaurant.neighborhood }}</p>
                <p>{{ restaurant.cuisine }}</p>
            </div>
    </div>
</div>
<!-- COMMENTS SECTION -->
<h2>Comments</h2>

<div class="col s6">
    <form action="{% url 'add_comment' restaurant_id=restaurant.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
    <table class="striped">
      <thead>
        <tr><th>Comment</th><th>User</th></tr>
      </thead>
      <tbody>
        {% for comment in restaurant.comment_set.all %}
          <tr>
            <td>{{comment.comment}}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>




{% endblock %}