{% extends 'base.html' %}
{% block content %}

<!-- DETAILS SECTION -->
<h1>Restaurant Details</h1>

<body class="restaurant-detail">

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content restaurant-card">
                <span class="card-title">{{ restaurant.name }}</span>
                <p>{{ restaurant.address }}</p>
                <p>{{ restaurant.neighborhood }}</p>
                <p>{{ restaurant.cuisine }}</p>
            </div>
        </div>
        <!-- Meal Had  -->
        <h2>Meals Had</h2>
          <table class="striped index-card-content">
              <tbody class="meal-had-post">
                {% for meal_had in restaurant.meal_had_set.all %}
                <tr>
                  <td>{{ meal_had.date }}</td>
                  <td>{{ meal_had.description }}</td>                    
                </tr>
                  {% endfor %}
              </tbody>
            </table>
            <br>
          <div class="card-content">
            <form action="{% url 'add_meal_had' restaurant.id %}" method="POST">
              {% csrf_token %}
              {{ meal_had_form.as_p }}
              <input type="submit" class="btn" value="Add Meal">
            </form>
          </div>
      </div>
</div>


<!-- COMMENTS SECTION -->
<h2>Comments</h2>
  <table class="striped index-card-content">
    <thead>
      <tr><th>User</th><th>Comment</th></tr>
    </thead>
    <tbody class="comment-post">
      {% for comment in restaurant.comment_set.all %}
        <tr>
          <td>{{comment.user}}</td>
          <td>{{comment.comment}}</td>
            {% csrf_token %}
            <td><button type="button" class="btn delete-btn" data-comment-id="{{ comment.id }}" data-restaurant-id="{{ restaurant.id }}" data-csrf="{{ csrf_token }}">Delete</button></td>
          <!-- </a> -->
        </tr>
      {% endfor %}
    </tbody>
  </table>

<br>
<div class="col s6 index-card-content">
  <form action="{% url 'add_comment' restaurant_id=restaurant.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the comments -->
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
</div>

<!-- Seating Section -->

<hr>
<div class="row">
  <div class="col s6 index-card-content">
    <h3>{{ restaurant.name }}'s Seating 🪑</h3>
    {% if restaurant.seats.count %}
      {% for seat in restaurant.seats.all %}
        <div class="card index-card-content">
          <div class="card-content index-card-content">
            <span class="card-title">
              <span> Indoor/Outdoor: {{ seat.indoor_or_outdoor }}</span>
              <br>
              <span>Seats: {{ seat.table_capacity }}</span>
              <br>
              <span>Table Type: {{ seat.table_type }}</span>
              <br>
            </span>
          </div>
          <div class="card-action index-card-content">
          <form action="{% url 'unassoc_seat' restaurant.id seat.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <h5>No Seating</h5>
    {% endif %}
  </div>
  <!-- Available seating will come after this line -->
  <div class="col s6">
  <h4><center>Seating Options</center></h4>
  <form action="{% url 'seat_create' %}" method="POST">
    {% csrf_token %}
    <center><button type="submit" class="btn">Add a Seating Type</button></center>
  </form>
  <br>
  <a href="{% url 'seat_list' %}">
    {% csrf_token %}
    <center><button type="submit" class="btn">View All Seating Types</button></center>
  </a>
  {% if seats.count %}
    {% for seat in seats.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
              <span> Indoor/Outdoor: {{ seat.indoor_or_outdoor }}</span>
              <br>
              <span>Seats: {{ seat.table_capacity }}</span>
              <br>
              <span>Table Type: {{ seat.table_type }}</span>
              <br>
            </span>
        </div>
        
        <div class="card-action">
          <form action="{% url 'assoc_seat' restaurant.id seat.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{restaurant.name}} Offers the following seating options:</h5>
  {% endif %}
</div>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  
  document.querySelectorAll('.delete-btn').forEach(function(button) {
  button.addEventListener('click', function() {
    var commentId = this.dataset.commentId;
    var restaurantId = this.dataset.restaurantId;
    var csrftoken = this.dataset.csrf;

    fetch(`/restaurants/${restaurantId}/delete_comment/${commentId}/`, {
      method: 'DELETE',
      headers: {
        'X-CSRFToken': csrftoken
      }
    }).then(function(response) {
      if (response.ok) {
        button.closest('tr').remove();
      } else {
        console.error('Delete failed');
      }
    });
  });
});
</script>
    
{% endblock %}

</body>