{% extends 'base.html' %}
{% block content %}

<h1>Restaurant Details</h1>

<div class="card">
    <div class="card-content">
        {% for photo in meal_had.photo_set.all %}
            <img class="responsive-img card-panel" src="{{mealphoto.url}}">
        {% empty %}
             <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <div class="card-title">
            <span>{{ restaurant.name }}</span>
            <p>{{ restaurant.address }}</p>
            <p>{{ restaurant.neighborhood }}</p>
            <p>{{ restaurant.cuisine }}</p>
        </div>
    </div>
</div>
    
{% endblock %}