{% extends 'base.html' %}
{% block content %}

<h1>Restaurant List</h1>

{% for restaurant in restaurants %}
    <div class="card">
      <div class="card-content">
        <a href="{% url 'detail' restaurant.id %}"></a>
        <span class="card-title">{{ restaurant.name }}</span>
        <p>Address: {{ restaurant.address }}</p>
        <p>Neighborhood: {{ restaurant.neighborhood }}</p>
        <p>Cuisine: {{ restaurant.cuisine }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'restaurants_update' restaurant.id %}">Edit</a>
        <a href="{% url 'restaurants_delete' restaurant.id %}">Delete</a>
      </div>
    </div>
{% endfor %}

{% endblock %}