{% extends 'base.html' %}
{% block content %}
<h1>About Da Best Food In Chi</h1>

<body class="restaurant-about"></body>

<hr>
<p class="p1">
    Food in Chicago, its a vibe!  Whether you are a local or just visiting Chi-town, everyone can attest the food scene here is a real thing and a must-try Chicago staple!
    <br>
    <br>
    So welcome all foodies, food connoisseurs, locals looking for a new place to try, and those of you just trying to get some grub - this is your go-to for anything and everything Chicago food!
    <br>
    <br>
    MMMMM.....foood
</p>
<br>
<br>
<footer>All Rights Reserved, &copy; 2023 DBIC</footer>
{% endblock %}