body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Helvetica'
  
}

h1 {
  display: inline-block;
  /* background-color: rgba(103, 155, 188, .8); */
  font-size: 50px;
  color: #14213d;
  font-weight: bold;
  text-shadow: 1px 1px #fdf0d5;
  padding: 15px;
  border-radius: 50px;  
}

h2 {
  display: inline-block;
  background-color: rgba(103, 155, 188, .8);
  font-size: 30px;
  color: #FDF0D5;
  text-shadow: 1px 1px #14213d;
  padding: 10px;
  /* border-radius: 50px;   */
}

nav {
  background-color: #c1121f;
  color: #fdf0d5;
}

main {
  flex: 1 0 auto;
}

p {
  color: #14213d;
}

footer.page-footer {
  padding-top: 10;
  text-align: right;
  background-color: #c1121f;
}

div .col-s6 {
  color: #FDF0D5;
}

.p1 {
  background-color: rgba(103, 155, 188, .8);
  padding:40px;
  font-weight: bold;
  font-size: 18px;
}

.restaurant-index {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%
}

.restaurant-about {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%;
}

.restaurant-detail {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%
}

.add-restaurant {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%
}

.add-seat {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%
}

.delete-res-confirm {
  background: url("../backgrounds/images/n22.jpg");
  background-position: center;
  background-size:60%
}

.card-content {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
  text-shadow: 1px 1px #000000;
  font-size: 20px;
  padding: 20px;
}
/* span {
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
} */

.index-card-content {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
  text-shadow: 1px 1px #000000;
  font-size: 20px;
  padding: 20px;
  text
}

.index-card {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
}


#card-action {
  background-color: rgb(253, 239, 211, .8);
  padding: 15px;
}

#ED {
  color: #c1121f;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
}

#ED:hover {
  color: rgb(253, 239, 211);
  background-color: #c1121f;
}

.form {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
  text-shadow: 1px 1px #14213d;
  font-size: 20px;
  padding: 30px;
  /* border-radius: 50px; */
}

.btn {
  background-color: #c1121f;
}

#id_address {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 20px;
  /* padding: 5px; */
}

#id_name {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 20px;
  /* padding: 5px; */
}

#id_neighborhood {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 20px;
  /* padding: 5px; */
}

#id_cuisine {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 20px;
  /* padding: 5px; */
}

#id_date {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 30px;
  /* padding: 5px; */
}

#id_description {
  background-color: #003049;
  color: rgb(253, 239, 211);
  font-size: 30px;
  /* padding: 5px; */
}

label {
  color: rgb(253, 239, 211);
  font-size: 20px;
}

/* table {
  font-family:'Graduate', serif;
  font-size: 25px;
  color: white;
} */

.restaurant-card {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
  text-shadow: 1px 1px #14213d;
  font-size: 25px;
  padding: 30px;
  /* border-radius: 50px; */
}

.add-seat {
  background-color: rgba(103, 155, 188, .8);
  color: rgb(253, 239, 211);
  text-shadow: 1px 1px #14213d;
  font-size: 20px;
  padding: 30px;
  /* border-radius: 50px; */
}

.meal-had-post {
  color: #14213d;
  text-shadow: 1px 1px #fdf0d5;
}

.comment-post {
  color: #14213d;
  text-shadow: 1px 1px #fdf0d5;
}
